div{
  background-color: mediumslateblue;
  color: white;
}
span{
  color: blueviolet;
}

*{
  background-color: lightblue;
  color: darkcyan;
}

.title{
  color: rgb(0, 0, 0);
}

#title1{
  color: blue;
}